@model IEnumerable<Akbmovie>

<div class="container" style="margin-top: 2rem; background-color: white;">
    <div class="jumbotron" style="padding: 1.5rem 2rem">
        <h1 style="text-align:center; color:#e72929;">Movie List</h1>
        <table class="table">
            <thead class="head">
                <tr>
                    <th>Sno</th>
                    <th>@Html.DisplayNameFor(d => d.MovieName)</th>
                    <th>@Html.DisplayNameFor(d => d.ReleaseDate)</th>
                    <th>@Html.DisplayNameFor(d => d.CostPerSeat)</th>
                    <th>@Html.DisplayNameFor(d => d.AgeRating)</th>
                    <th>@Html.DisplayNameFor(d => d.Ratings)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                }
                @foreach (var data in @Model) 
                {
                    
                        <tr class="amovielist-row">
                            
                            
                                <td>@i</td>
                                        @{
                                            i++;
                                        }
                                <td>@Html.DisplayFor(d => data.MovieName)</td>
                                <td>@Html.DisplayFor(d => data.ReleaseDate)</td>
                                <td>@Html.DisplayFor(d => data.CostPerSeat)</td>
                                <td>@Html.DisplayFor(d => data.AgeRating)</td>
                                <td>@Html.DisplayFor(d => data.Ratings)</td>
                                <td><a href="@Url.Action("MovieDetails","Admin", new {id = data.MovieId})">Details</a></td> 
                        </tr>
              
                }
            </tbody>
        </table>
    </div>
</div>