@model Akbmovie;

<div class="amd-containerr">
    <img class="amd-image" src="~/images/@Html.DisplayFor(d => d.ImageUrl)" alt="foods-image">
    <div class="amd-content">
        <div class="amd-title">
            <div class="amd-movie-name">@Html.DisplayFor(d => d.MovieName)</div>
            <span class="amd-favorite">❤@Html.DisplayFor(d => d.Ratings)%</span>
        </div>
        <div class="amd-product-item-footer">
            <div class="amd-genres">
                @Html.DisplayFor(d => d.Genres)
            </div>

        </div>

        <div class="amd-movie-pricing-details">
            <div class="amd-showtime-language">
                <div class="amd-show-time">
                    @Html.TextBoxFor(d => d.ShowTime, "{0: MMM dd, yyyy}", new {
                    style="outline: none; border: none; background: transparent; color: whitesmoke;font-size: 1.5rem;"
                    })
                </div>
                <!-- {{movieDetails.costPerSeat | currency:'INR'}} -->
                <div class="amd-movie-price-age">
                    <div class="language">
                        @Html.DisplayFor(d => d.Language)
                    </div>
                    <div class="amd-age-rating">
                        @Html.DisplayFor(d => d.AgeRating)
                    </div>
                </div>
            </div>
            <div class="amd-duration-movie-type">
                <div class="amd-duration">
                    <span>🕘</span>
                    @Html.DisplayFor(d => d.Duration)
                </div>
                <div class="amd-movie-type">
                    @Html.DisplayFor(d => d.MovieType)
                </div>
            </div>
        </div>
        <div class="amd-button-group">
            <a href="@Url.Action("EditMovie","Admin", new {id = Model.MovieId})"><button class="amd-btn">Edit</button></a>
            @*<a href="@Url.Action("DeleteMovie","Admin", new {id = Model.MovieId})"><button class="amd-btn">Delete</button></a>*@
            <a><button class="amd-btn" data-toggle="modal" data-target="#confirmDeletion">Delete</button></a>
        </div>

        <a href="@Url.Action("MovieList","Admin")"><button class="amd-btn-back">Back to the Movie List</button></a>
    </div>
</div>

<div class="modal fade" id="confirmDeletion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content confirmation-dialog">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                You want to delete details of @Html.DisplayFor(data => data.MovieName) movie?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                <button onclick="location.href='@Url.Action("DeleteMovie","Admin", new { id = Model.MovieId })'" type="button" class="btn btn-danger" data-dismiss="modal" style="background-color: #e72929;">Confirm</button>
            </div>
        </div>
    </div>
</div>

<style>
    .amd-containerr {
        font-size: 2.5rem;
        height: auto;
        width: auto;
        margin: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        color: #e72929;
    }

    .amd-image {
        height: 27.5rem;
        border-radius: 1rem;
    }

    .amd-content {
        padding-left: 6rem;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .amd-title {
        display: flex;
    }

    .amd-movie-name {
        flex: 0.75;
        font-weight: bold;
    }

    .amd-favorite {
        position: absolute;
        top: .5rem;
        right: 1rem;
        font-size: 2rem;
    }

    .amd-product-item-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .amd-genres {
        border-radius: 0 2rem;
        background-color: whitesmoke;
        color: grey;
        font-size: 1.8rem;
        margin-right: .3rem;
        display: inline-block;
        flex: 0.9;
        padding-left: 1rem;
    }

    .amd-duration {
        font-size: 1.5rem;
        text-align: center;
    }

    .amd-show-time {
        color: whitesmoke;
        font-size: 1.5rem;
    }

    .amd-movie-pricing-details {
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-items: center;
        margin-top: 2rem;
    }

    .amd-movie-price-age {
        display: flex;
    }

    .amd-age-rating {
        margin-left: 0.5rem;
    }

    .amd-movie-type {
        background-color: #e72929;
        border-radius: 1rem;
        color: white;
        padding: 0.1rem 0.8rem;
        width: auto;
        text-align: center;
    }

    .amd-button-group {
        display: flex;
        justify-content: space-between;
        padding-top: 3rem;
    }

    .amd-btn {
        margin-top: 4rem;
        height: 3rem;
        width: 8rem;
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 1rem;
        border-radius: 10rem;
        outline: none;
        background-color: whitesmoke;
        color: black;
        border: none;
        font-size: 1.8rem;
        margin-top: 0;
    }

        .amd-btn:hover {
            background-color: #e72929;
            color: white;
            opacity: 0.9;
            transition: 0.3s;
            cursor: pointer;
            transform: scale(1.01);
        }


    .amd-btn-back {
        align-items: center;
        margin-top: 1rem;
        padding: 0 1rem;
        height: 3rem;
        width: 25rem;
        font-size: 1rem;
        border-radius: 10rem;
        outline: none;
        background-color: #e72929;
        ;
        color: white;
        border: none;
        font-size: 1.8rem;
    }

        .amd-btn-back:hover {
            opacity: 0.8;
            transition: 0.3s;
            cursor: pointer;
            transform: scale(1.01);
        }

    .confirmation-dialog {
        background-color: #242333;
        color: white;
        border-radius: 2rem;
        text-decoration: bolder;
    }

        .confirmation-dialog > button {
            border-radius: 1.5rem;
        }
</style>