@model IEnumerable<Akbmovie>



<div class="container" style="margin-top: 2rem; background-color: white;">
    <div class="jumbotron" style="padding: 1.5rem 2rem">
        <h1 style="text-align:center; color:#e72929;">Movie List</h1>
        <table class="table">
            <thead class="head">
                <tr>
                    <th class="center-align">Sno</th>
                    <th>@Html.DisplayNameFor(d => d.MovieName)</th>
                    <th>@Html.DisplayNameFor(d => d.ReleaseDate)</th>
                    <th class ="center-align">@Html.DisplayNameFor(d => d.CostPerSeat)</th>
                    <th class="center-align">@Html.DisplayNameFor(d => d.AgeRating)</th>
                    <th class="center-align">@Html.DisplayNameFor(d => d.Ratings)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                }
                @foreach (var data in @Model) 
                {
                    
                        <tr class="amovielist-row">


                                <td class ="center-align">@i</td>
                                        @{
                                            i++;
                                        }
                                <td>@Html.DisplayFor(d => data.MovieName)</td>
                                <td>
                                        @Html.TextBoxFor(d => data.ShowTime, "{0: MMM dd, yyyy}", new {
                                        style="outline: none; border: none; background: transparent;", Class="amovielist-row"
                                    })
                                </td>
                                <td class="center-align">₹@Html.DisplayFor(d => data.CostPerSeat).00</td>
                                <td class="center-align">@Html.DisplayFor(d => data.AgeRating)</td>
                                <td class="center-align">@Html.DisplayFor(d => data.Ratings)%</td>
                                <td><a href="@Url.Action("MovieDetails","Admin", new {id = data.MovieId})">Details</a></td> 
                        </tr>
              
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    /*Movie List*/
    

    .amovielist-row:hover {
        cursor: pointer;
        background-color: #e72929;
        color: white;
        font-weight: 100;
        text-decoration: none;
        opacity: 0.9;
        transition: 0.3s;
        transform: scale(1.01);
    }

    .OnHover:hover {
        cursor: pointer;
        background-color: #e72929;
        color: white;
        font-weight: 100;
        text-decoration: none;
        opacity: 0.9;
        transition: 0.3s;
        transform: scale(1.01);
    }


    .center-align {
        text-align: center;
    }
</style>

<script>
    function FormatDate(dateTime) {
        const months = ['', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        const date = dateTime.substring(0, 10);
        const userEnteredDateArray = date.split('-');
        let yearValue = userEnteredDateArray[2];
        let monthValue = userEnteredDateArray[1];
        let dateValue = userEnteredDateArray[0];
        return dateValue + ' ' + months[parseInt(monthValue)] + ' ' + yearValue;
    }

    var dobFields = document.querySelectorAll("#dobField");
    for (let i = 0; i < dobFields.length; i++) {
        dobFields[i].innerText = FormatDate(dobFields[i].innerText);
    }
</script>