<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookMyMovieASP_MVC6</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/BookMyMovieASP_MVC6.styles.css" asp-append-version="true" />*@
    @*<link href="@Url.Content("~/css/MovieList.css")" rel="stylesheet" />
    @RenderSection("css", false)*@
</head>
<body>
    <header class="top-nav">
        <div class="top-nav-container">
            <a routerLink="" class="logo">BMM 💃 Book My Movie</a>
            <nav class="top-nav-nav">
                <ul>
                    <li class="top-nav-options">
                        <a  asp-area="" asp-controller="Movie" asp-action="List">SignIn</a>
                        <a  asp-area="" asp-controller="Movie" asp-action="List">Register</a>
                        <a  asp-area="" asp-controller="Movie" asp-action="List">Movie List</a>
                        <a  asp-area="" asp-controller="Movie" asp-action="List">Movie Details</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    @RenderBody()
    @*<div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>*@

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - BookMyMovieASP_MVC6 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
