@model TransactionResponse;

<div class="cp-container container" *ngIf="transactionSuccess">
    <div class="cp-logo">book <span>my</span> movie</div>
    <div class="cp-confirm">Your booking is confirmed!</div>
    <div class="cp-bookingid">
        <span>Booking ID </span>
        <span class="cp-bid">#@Html.DisplayFor(d => d.TransactionId)</span>
    </div>
    <div class="cp-ticket-container">
        @{
            int noOfSeats = Model.Seats.Length;
            int? costPerSeat = Model.CostPerSeat;
            int? totalCost = noOfSeats * costPerSeat;
            string seatsBooked = "";
            for (int i = 0; i < Model.Seats.Length; i++) {
                seatsBooked += Model.Seats[i];
                if (i < noOfSeats - 1) seatsBooked += ", ";
            }
        }
        <div class="cp-movie">
            <div class="cp-movie-image">
                <img src="~/images/image1.jpg" alt="" class="cp-movie-image">
            </div>
            <div class="cp-movie-info">
                <div class="cp-movie-title">@Html.DisplayFor(d => d.MovieName) (@Html.DisplayFor(d => d.AgeRating))</div>
                <div class="cp-movie-venue">
                    <div class="cp-time">
                        @Html.TextBoxFor(d => d.ShowTime, "{0: MMM dd, yyyy}", new {
                        style="outline: none; border: none; background: transparent; padding-right:0;"
                        })
                    </div>
                    <div class="cp-address">Cinepolis: WESTEND Mall Aundh, Pune(AUDI 03) Pune, Pune</div>
                </div>
                <div class="cp-seat">EXECUTIVE - @seatsBooked</div>
            </div>
        </div>
        <div class="cp-seat-details">
            <div class="cp-number-of-seats">
                <div class="cp-nseat">@noOfSeats</div>
                <div class="cp-ticket-label">Tickets</div>
            </div>
            <div class="cp-audi-details">AUDI 03</div>
        </div>
    </div>
    <div class="cp-transaction-container">
        <div class="cpt-heading">ORDER SUMMARY</div>
        <div class="cp-transaction-details">
            <div class="cp-amount-details">
                <div class="cp-amount-label">TICKET AMOUNT</div>
                <div class="cp-amount">Rs.@totalCost</div>
            </div>
            <div class="cp-quantity-details">
                <div class="cp-quantity-label">Quantity</div>
                <div class="cp-quantity">@noOfSeats tickets</div>
            </div>
            <div class="cp-paid-details">
                <div class="cp-inner">
                    <div class="cp-paid-label">AMOUNT PAID</div>
                    <div class="cp-paid-money">Rs.@totalCost</div>
                </div>
            </div>
        </div>
    </div>

    <div class="cp-back" onclick="location.href='@Url.Action("List","Movie")'">Back to Dashboard</div>
</div>

@*<div class="container" *ngIf="!transactionSuccess">
    <div class="cp-logo">book <span>my</span> movie</div>
    <div class="cp-waiting">Your order is under processing!</div>
</div>*@


<style>
    .cp-container {
        margin: 2rem auto;
        padding: 1rem 0;
        align-items: center;
        width: 50%;
        height: auto;
        background-color: white;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Arial,sans-serif;
    }

    .cp-logo {
        color: #8d8d8f;
        font-size: 2rem;
        font-weight: bolder;
    }

        .cp-logo > span {
            background-color: #e72929;
            color: white;
        }

    .cp-confirm {
        color: #4caf50;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .cp-waiting {
        color: rgb(255, 166, 0);
        font-size: 1.5rem;
        font-weight: bold;
    }

    .cp-bid {
        font-weight: bold;
    }

    .cp-ticket-container {
        margin-top: 2rem;
        height: auto;
        width: 90%;
        background-color: #f5f5f5;
        border-radius: 0.5rem;
        padding: 1.5rem;
    }

    .cp-movie {
        display: flex;
        padding-bottom: 1.5rem;
        border-bottom: 4px dashed #c49d9d28;
    }

    .cp-movie-image > img {
        height: 120px;
        border-radius: 0.8rem;
    }

    .cp-movie-info {
        padding-left: 2rem;
    }

    .cp-movie-title {
        font-size: 20px;
        font-weight: bold;
        text-align: left;
        color: #3c3c3c;
    }

    .cp-time {
        margin-top: 1rem;
        font-size: 16px;
        font-family: Arial,sans-serif;
        text-align: left;
        vertical-align: top;
        background-color: #f5f5f5;
        color: #3c3c3c;
    }

    .cp-address {
        font-size: 13px;
        color: #828282;
        font-weight: 400;
    }

    .cp-seat {
        margin-top: 0.8rem;
        font-size: 15px;
        font-weight: bold;
        color: #010101;
    }

    .cp-seat-details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 1rem;
        /* border-bottom: 4px dashed #c49d9d28; */
    }

    .cp-number-of-seats {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cp-nseat {
        text-align: center;
        font-size: 26px;
        font-weight: 800;
        font-family: Arial,sans-serif;
        color: #000000;
    }

    .cp-ticket-label {
        font-size: 13px;
        color: #828282;
        font-weight: 400;
    }

    .cp-audi-details {
        font-family: Arial,sans-serif;
        text-align: left;
        font-size: 1rem;
        color: #828282;
        font-weight: 400;
    }

    .cp-transaction-container {
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 1.5rem;
    }

    .cpt-heading {
        font-size: 13px;
        font-family: Arial,sans-serif;
        text-align: left;
        background-color: #ffffff;
        font-weight: 600;
        color: #828282;
        letter-spacing: 1px;
    }

    .cp-transaction-details {
        width: 100%;
        padding: 0;
        border: 2px solid #f1f1f1;
        border-radius: 5px;
        font-family: Arial,sans-serif;
        margin: 1rem auto 0rem auto;
    }

    .cp-transaction-details {
        display: flex;
        flex-direction: column;
    }

    .cp-amount-details {
        display: flex;
        justify-content: space-between;
        padding: 25px 25px 5px 25px;
    }

    .cp-amount-label {
        color: #222;
        font-weight: bold;
        font-size: 14px;
        font-family: Arial,sans-serif;
    }

    .cp-amount {
        font-size: 15px;
        font-family: Arial,sans-serif;
        color: #3c3c3c;
    }

    .cp-quantity-details {
        display: flex;
        justify-content: space-between;
        color: #828282;
        font-size: 13px;
        padding: 0 25px 15px 25px;
    }

    .cp-paid-details {
        background-color: #f1f1f1;
        padding: 25px 25px 15px 25px;
    }

    .cp-inner {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: black;
        padding: 0;
        margin: 0;
        font-weight: bolder;
    }

    .cp-back {
        background-color: #e72929;
        border-radius: 2rem;
        padding: 0.5rem 1rem;
        color: white;
    }

    .cp-back:hover {
        transition: 0.8s;
        transform: scale(1.1);
        cursor: pointer;
        opacity: 0.95;
    }
</style>