@model Akbmovie

<div class="md-containerr">
    <img class="md-image" src="~/images/@Html.DisplayFor(d => d.ImageUrl)" alt="foods-image">
    <div class="md-content">
        <div class="md-title">
            <div class="md-movie-name">@Html.DisplayFor(d => d.MovieName)</div>
            <span class="md-favorite">❤@Html.DisplayFor(d => d.Ratings)%</span>
        </div>
        <div class="md-product-item-footer">
            <div class="md-genres">
                @Html.DisplayFor(d => d.Genres)
            </div>

        </div>

        <div class="md-movie-pricing-details">
            <div class="md-showtime-language">
                <div class="md-show-time">
                    @Html.DisplayFor(d => d.ShowTime)
                </div>
                <!-- {{movieDetails.costPerSeat | currency:'INR'}} -->
                <div class="md-movie-price-age">
                    <div class="language">
                        @Html.DisplayFor(d => d.Language)
                    </div>
                    <div class="md-age-rating">
                        (@Html.DisplayFor(d => d.AgeRating))
                    </div>
                </div>
            </div>
            <div class="md-duration-movie-type">
                <div class="md-duration">
                    <span>🕘</span>
                    @Html.DisplayFor(d => d.Duration)
                </div>
                <div class="md-movie-type">
                    @Html.DisplayFor(d => d.MovieType)
                </div>
            </div>
        </div>
        @*<button  onclick="Route">Book Now</button>*@
        <button type="button" class="md-btn" onclick="location.href='@Url.Action("SeatBook","Movie")'">Book Now</button>
    </div>
</div>

<style>
    .md-containerr {
        font-size: 2.5rem;
        height: auto;
        width: auto;
        margin: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        color: #e72929;
    }

    .md-image {
        height: 27.5rem;
        border-radius: 1rem;
    }

    .md-content {
        padding-left: 6rem;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .md-title {
        display: flex;
    }

    .md-movie-name {
        flex: 0.75;
        font-weight: bold;
    }

    .md-favorite {
        position: absolute;
        top: .5rem;
        right: 1rem;
        font-size: 2rem;
    }

    .md-product-item-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .md-genres {
        border-radius: 0 2rem;
        background-color: whitesmoke;
        color: grey;
        font-size: 1.8rem;
        margin-right: .3rem;
        display: inline-block;
        flex: 0.9;
        padding-left: 1rem;
    }

    .md-duration {
        font-size: 1.5rem;
        text-align: center;
    }

    .md-show-time {
        color: whitesmoke;
        font-size: 1.5rem;
    }

    .md-movie-pricing-details {
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-items: center;
        margin-top: 2rem;
    }

    .md-movie-price-age {
        display: flex;
    }

    .md-age-rating {
        margin-left: 0.5rem;
    }

    .md-movie-type {
        background-color: #e72929;
        border-radius: 1rem;
        color: white;
        padding: 0.1rem 0.8rem;
        width: auto;
        text-align: center;
    }

    .md-btn {
        margin-top: 4rem;
        height: 3rem;
        width: 20rem;
        font-size: 1rem;
        border-radius: 10rem;
        outline: none;
        background-color: #e72929;
        color: white;
        border: none;
        font-size: 1.8rem;
    }

        .md-btn:hover {
            opacity: 0.9;
            transition: 0.3s;
            cursor: pointer;
        }
</style>