@model IEnumerable<Movie>


<form class="ml-filter-comp" method="post">
    <input type="text" placeholder="Search Movie from BMM">
    <button type="submit">Search</button>
</form>


<ul class="ml-ul">
        @foreach (var data in @Model)
        {
            <li>
                <a href="@Url.Action("Details","Movie", new {id = data.MovieId})">
                <img class="ml-image" src="~/images/@Html.DisplayFor(d => data.ImageUrl)" alt="foods-image">
                <div class="ml-content">
                    <div class="ml-title">
                        <div class="ml-movie-name">@Html.DisplayFor(d => data.MovieName)</div>
                        <span class="ml-favorite">❤@Html.DisplayFor(d => data.Ratings)%</span>
                    </div>
                    <div class="ml-product-item-footer">
                        <div class="ml-genres">
                            @Html.DisplayFor(d => data.Genres)
                        </div>
                        <div class="ml-duration">
                            <span>🕘</span>
                            @Html.DisplayFor(d => data.Duration)
                        </div>
                    </div>
                    <div class="ml-show-time">
                        @Html.DisplayFor(d => data.ShowTime)
                    </div>
                    <div class="ml-movie-pricing-details">
                        <!-- {{movie.costPerSeat | currency:'INR'}} -->
                        <div class="ml-movie-price-age">
                            <div class="language">
                                @Html.DisplayFor(d => data.Language)
                            </div>
                            <div class="ml-age-rating">
                                @Html.DisplayFor(d => data.AgeRating)
                            </div>
                        </div>
                        <div class="ml-movie-type">
                            @Html.DisplayFor(d => data.MovieType)
                        </div>
                    </div>
                </div>
            </a>
        </li>
        }
</ul>