@model IEnumerable<Movie>

<ul class="movie-list">
    <li class="movie-item">
        @foreach (var data in @Model)
        {
            <a href="" class="ml-a">
                <img class="ml-image" src="~/images/@Html.DisplayFor(d => data.ImageUrl)" alt="foods-image">
                <div class="ml-content">
                    <div class="ml-movie-title">
                        <div class="ml-name">
                            @Html.DisplayFor(d => data.MovieName)
                        </div>
                        <span class="ml-favorite">
                            ❤
                            @Html.DisplayFor(d => data.Ratings)
                        </span>
                    </div>
                    <div class="ml-product-item-footer">
                        <div class="ml-genres">
                            @Html.DisplayFor(d => data.Genres)
                        </div>
                        <div class="ml-duration">
                            <span>🕘</span>
                            @Html.DisplayFor(d => data.Duration)
                        </div>
                    </div>
                    <div class="ml-price">
                        @Html.DisplayFor(d => data.ShowTime)
                    </div>
                    <div class="ml-price">
                        @Html.DisplayFor(d => data.CostPerSeat)
                    </div>
                </div>
            </a>
        }
    </li>
</ul>